* {
	font-family: Roboto, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #f1f3f6;
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* !header complete */
#header {
	height: 56px;
	background-color: #2874f0;
	display: flex;
	justify-content: center;
}

#leftsidecointainer {
	width: 124px;
	height: 100%;
}

#rightsidecointainer {
	width: 904.3px;
	height: auto;
	display: flex;
}

/* ! LOGO CONTAINER */
#logocontainer {
	width: 137px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: end;
}

#logocontainer img {
	width: 75px;
	height: 20.1px;
}

#logodiscript {
	width: 75px;
	height: 15.4px;
	color: white;
	font-family: Roboto, Arial, sans-serif;
	display: flex;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	margin-top: -1px;
}

#exploretext {
	margin-right: 1px;
}

#plustext {
	color: #ffe500;
	margin-right: 1px;
}

#starlogo img {
	width: 10px;
	height: 10px;
}

/* ! LOGO CONTAINER */
/* ! SEARCHBAR START */
#searchbar {
	min-width: 29.6vw;
	height: 100%;
	margin-left: 12px;
	display: flex;
	align-items: center;
}

#searchform {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
	width: 100%;
	height: 36px;
	max-width: 564px;
	position: relative;
	display: flex;
	border-radius: 2px;
	justify-content: space-between;
}

#searchinput {
	padding: 0 16px;
	padding-right: 0;
	border-radius: 2px 0 0 2px;
	border: 0;
	outline: 0 none;
	font-size: 13px;
	height: 36px;
	width: 100%;
}

#searchbtnncontainer {
	height: 36px;
	width: 42px;
	border-radius: 2px;
	cursor: pointer;
	padding: 4px 6px 0 8px;
}

#searchbtnn {
	background: none;
	border: none;
	height: 30px;
	width: 20px;
	color: #2874f0;
	font-size: 26px;
}

/* ! SEARCHBAR END */
/* ! LOGIN BUTTUN START */
#searchloginbtn {
	width: 121.5px;
	height: 100%;
	margin: 0 20px;
	display: flex;
	align-items: center;
}

#searchloginbuttun {
	width: 100%;
	background: none;
	border: none;
	font-size: 15px;
	letter-spacing: 0.1px;
	color: #2874f0;
	font-weight: bold;
	background-color: #fff;
	cursor: pointer;
	border-radius: 2px;
	height: 32px;
	padding: 5px 40px;
	border: 1px solid #dbdbdb;
}

/* ! LOGIN BUTTUN END */
/* ! OTHER HEADER TEXT START */
#moretext {
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 0.1px;
	font-weight: bold;
	color: #fff;
}

#beacomeasellerbtn {
	width: 123.1px;
	height: 100%;
	max-width: 150px;
	margin-left: 20px;
	margin-right: 40px;
	display: flex;
	align-items: center;
}

#becomeatext {
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 0.1px;
	font-weight: bold;
	color: #fff;
}

#searchmorebtn {
	width: 49.5px;
	height: 100%;
	display: flex;
	align-items: center;
}

/* ! OTHER HEADER TEXT START */
/* !header complete */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ! category complete */
#category {
	min-height: 112px;
	flex-direction: row;
	color: #212121;
	display: flex;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
	justify-content: center;
	align-items: center;
	background-color: white;
}

/* ! categoryes all */
#allcategory {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

.catimgg img {
	width: 64px;
	height: 64px;
}

#Grocerysec {
	padding-top: 12px;
}

#Mobilessec {
	padding: 12px 8px;
	margin-right: 7px;
	margin-left: 12px;
}

#fasionsec {
	margin-right: 7px;

	padding: 12px 8px;
}

#electronicsec {
	padding: 12px 8px;
	margin-right: 7px;
}

#homesec {
	padding: 12px 8px;
	margin-right: 7px;
}

#appliancesec {
	padding: 12px 8px;
	margin-right: 7px;
}

#travel {
	padding: 12px 8px;
	margin-right: 7px;
}

#topoffersec {
	padding: 12px 8px;
	margin-right: 7px;
}

#beutytoyssec {
	padding: 12px 8px;
	margin-right: 7px;
}

#twowheelerssec {
	padding: 12px 8px;
}

/* ! category complete */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
#slider {
	display: flex;
	justify-content: center;
}

#slidercontainer {
	margin: 8.3px;
	width: 100%;
	height: 280px;
	background-color: aqua;
	max-width: 1680px;
}

#slidercontainer img {
	height: 279px;
}


/* ////////////// */

/* !all card section start */
.all-card-section {
	min-height: 341px;
	flex-direction: row;
	color: #212121;
	display: flex;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
	justify-content: center;
	align-items: center;
	background-color: rgb(201, 31, 31);
	margin: 8.3px;
	max-width: 1680px;
}

.flex-sectionn {
	display: flex;
	justify-content: center;
}

/* ? left card start */
.left-card-sec {
	background-color: white;
	min-height: 341px;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.img-card img {
	height: 100%;
}

.top-tital-card {
	word-wrap: break-word;
	text-align: center;
	font-size: 30px;
}

.down-btn-card {
	margin-top: 24px;
	text-align: center;
}

.Viewall-btn {
	border-radius: 2px;
	padding: 10px 17px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	background: #2874f0;
	color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	border: none;
}

/* ? left card end */
/* ? right card start */
.right-card-sec {
	background-color: #0dff35;
	min-height: 341px;
	width: 75vw;

}

/* ? right card end */
#text-section {
	min-height: 1000px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
	margin-top: 23.3px;
	max-width: 100%;
	text-align: left;
	font-size: 14px;
	line-height: 23px;
	padding: 30px;
	color: #757575;
}

#text-section a {
	text-decoration: none;
	color: #757575;
}

#text-section a :visited {
	text-decoration: none;
	color: #757575;
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */

footer {
	background-color: #172337;
	font-weight: bold;
}

footer a {
	color: white;
	text-decoration: none;
}

.mail-us-sec {
	border-left: 1px solid #454d5e;
	padding: 0 25px;
	height: 134px;
	width: 246px;
}

#footer-section {
	margin-left: 65px;
	width: 90% !important;
	padding-top: 40px;
	height: 322px;
	width: 100%;
	color: white;
	display: flex;
}

#footer-links a :hover {
	text-decoration: underline;
}

#footer-links {
	display: flex;
}

.foot-link-tital {
	color: #878787;
	font-size: 12px;
	margin-bottom: 9px;
}

.link-sec-foot {
	width: 95px;
	height: 241px;
}

.discript-links {
	font-size: 12px;
	line-height: 2;
}

#footer-address {
	display: flex;
}

.right-sec-foot {
	width: 170px;
	height: 241px;
	margin-left: 14px;
}

.right-foot-address {
	font-size: 12px;
}